// IMPORTS
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");
// ======================== OVERWRITES ========================
:root {
  --primaryColor: #5761b3;
  --purple: #8caefd;
  --darkpurple: #5761b3;
  --lightpurple: #8990ca;
  --blue: #0a8fdb;
  --green: #17a12c;
  --white: #ffffff;
  --amber: #ff9300;
  --lightred: #df5f68;
  --grey: #707070;
  --lightblack: #1f253a;
  --brown: #a54d4d;
  --yellow: #0a0a09;
  --text-primary: #5761b3;
  --whiteColor: #ffffff;
  --whiteColorVariant2: #d4d4d4;
  --whiteColorVariant3: #eef2f8;
  --whiteColorVariant4: #d0d6e1;
  --whiteColorVariant5: #ececee;
  --whiteColorVariant6: #f5f6fa;
  --whiteColorVariant8: #dddddd;
  --whiteColorVariant9: #e6edff;
  --whiteColorVariant10: #f9fafc;
  --whiteColorVariant11: #eaedf3;
  --whiteColorVariant12: #ebebeb;
  --whiteColorVariant13: #e8f0fe;
  //LeadQueueStatusColors
  --lqstatus1: #5d9aff;
  --lqstatus2: #f2b835;
  --lqstatus3: #f27635;
  --lqstatus4: #8d7162;
  --lqstatus5: #6d988e;
  --lqstatus6: #df5f68;
  --lqstatus7: #1ba32f;
  --lqstatus8: var(--lightred);
  --lqstatus9: #a54d4d;
  --lqstatus0: rgb(20, 178, 199);
  --lqstatus1bg: #d6e6ff;
  --lqstatus2bg: #fcedcc;
  --lqstatus3bg: #fcdccc;
  --lqstatus4bg: #e2dbd7;
  --lqstatus5bg: #dae5e3;
  --lqstatus6bg: #f7d7d9;
  --lqstatus7bg: #c6e0ca;
  --lqstatus8bg: #f7c3c3;
  --lqstatus9bg: #fadcdc;
  --lqstatus0bg: rgb(230, 243, 245);
  //TaskManagerColors
  --tmdefaultbg: #f4f8ff;
  --tmdefault: #5d9aff;
  --tmselectedbg: #e5f8e8;
  --tmselected: #1ba32f;
  //ClientStatusColors
  --contactstatus1: #5d9aff;
  --contactstatus2: #f2b835;
  --contactstatus3: #f27635;
  --contactstatus4: #8d7162;
  --contactstatus5: #6d988e;
  --contactstatus6: #df5f68;
  --contactstatus7: #1ba32f;
  --contactstatus8: var(--lightred);
  --contactstatus9: #a54d4d;
  --contactstatus1bg: #d6e6ff;
  --contactstatus2bg: #fcedcc;
  --contactstatus3bg: #fcdccc;
  --contactstatus4bg: #e2dbd7;
  --contactstatus5bg: #dae5e3;
  --contactstatus6bg: #f7d7d9;
  --contactstatus7bg: #dbf2de;
  --contactstatus8bg: #f7c3c3;
  --contactstatus9bg: #fadcdc;
  --affiliate1: #3677e0;
  --affiliate1bg: #b1cbf5;
  --affiliate2: #149c28;
  --affiliate2bg: #c4f0cb;
  --affiliate3: #3f3d3d;
  --affiliate3bg: #9c9292;
  --customFontFamily: Muli;
  --primaryFontSize: 14px;
  --primaryLineHeight: 20px;
}
